<% content_for :title do %>
  Privacy Policy -
<% end %>

<% content_for :header do %>
  <header class="nav--fixed nav--dark">
    <%= render "shared/navigation" %>
  </header>
  <%= bordered_header_text "Privacy Policy" %>
<% end %>

<div class="row top terms">
  <div class="content-box">
    <h1>Privacy Policy</h1>
    <p>Your information is so important to us. We’ll always be honest and transparent about how we handle it.</p>
    <p> If you are an Australian customer, the Policy explains how we collect your personal information, what we do with it, and how it’s protected. </p>

    <h3>Why We Collect Personal Information</h3>
    <p>Caitre'd collects personal information from you when it is reasonably necessary for a business purpose, for example:</p>
    <ul>
      <li>To process your order</li>
      <li>Understand you, and how we can meet your needs now and in the future.</li>
      <li>Develop or evaluate our website</li>
      <li>Manage our business.</li>
      <li>Comply with our legal obligations.</li>
    </ul>

    <h3>The Type of Information We Collect</h3>
    <p>Caitre'd collects your personal information including your name, address, email and phone number, and information about what you purchase and how you use our website. We may also collect your payment data to process your payment.</p>
    <p>Caitre'd collects most personal information directly from you when you complete a form on our website to place an order or join our mailing list.</p>
    <p>Caitre'd also use cookies and digital identifiers to track your online activity, including analytics cookies to gather statistics about our site. This helps us to understand how many users are on our site and what sections are most popular.</p>
    <p>Caitre'd does not share your personal information outside of the company, and we do not sell mailing lists . Caitre'd staff may need to access your information in order to provide services to you.</p>

    <h3>Security</h3>
    <p>Caitre'd takes measures to protect your personal information including encrypting your data in transit, and managing access within the company so that only those who need it can see your personal information.</p>

    <h3>How to Access Your Personal Information</h3>
    <p>Please contact us for access to the personal information we hold about you.</p>
  </div>
</div>
