<% content_for :title do %>
  Website Terms of Use
<% end %>

<% content_for :header do %>
  <header class="nav--fixed nav--dark">
    <%= render "shared/navigation" %>
  </header>
  <%= bordered_header_text "Terms of Use" %>
<% end %>

<div class="row top">
  <div class="content-box">
    <h3>About this website</h3>
    <p>Website Owner = Caitre’d Pty Ltd Ltd (ACN (165 990 474) ("Caitre’d") (Domain name = http://www.caitre-d.com =  the “website”)</p>

    <h3>About these terms of use</h3>
    <p>These website terms of use ("terms of use") and the associated Privacy Statement ("privacy policy") govern your access to and use of the website. You should read these terms of use and the privacy policy carefully before using this website.</p>
  
    <h3>Your access/use implies agreement</h3>
    <p>The website is available for your use only on condition that you agree to these terms of use. By accessing/using the website, you are signifying that you agree to be bound by these terms.</p>

    <h3>Modifications to the Terms</h3>
    <p>Caitre’d may revise and update these terms of use at any time. Your continued usage of the website after any changes to these terms of use will mean you accept those changes.</p>
  
    <h3>Modifications to the information</h3>
    <p>Caitre’d does not warrant the accuracy, adequacy or completeness of material on this website. All information may be changed, supplemented, deleted or updated without notice at the sole discretion of Caitre’d.</p>
    
    <h3>Errors and problems</h3>
    <p>Caitre’d does not guarantee that the website will be free from viruses, or that access to the website will be uninterrupted.</p>
  
    <h3>License and Ownership</h3>
    <p>The copyright for the content on this website is owned or licensed by Caitre’d and is protected under the Copyright Act 1968 (Cth) and by other copyright laws in both Australia and other countries. No material on this website may be reproduced, adapted, uploaded to a third party, linked to, framed, performed in public, distributed or transmitted in any form by any process without the specific written consent of Caitre’d.</p>
    <p>All custom graphics, icons, and other items that appear on the website and all associated trademarks, are trademarks of Caitre’d.</p>

    <h3>Caitre’d Privacy Policy</h3>
    <p>The Caitre’d privacy policy governs the use of information collected from or provided by you at the website. A policy statement prepared by Caitre’d for the purposes of being made available to customers and the general public declaring the company's commitment to the Privacy Act 1988 (Cth) (hereinafter the “Privacy Act”) for a company required to comply is <%= link_to 'available here', privacy_path %>.</p>

    <h3>Feedback, suggestions, comments or requests</h3>
    <p>Caitre’d enables you to make feedback, suggestions, comments or requests ("comments"). If you do make comments, you acknowledge that:</p>
    <ul>
      <li>Compoany logos may be used in our business materials.</li>
      <li>They will not be considered confidential or proprietary.</li>
      <li>Caitre’d is under no obligation to keep such information confidential.</li>
      <li>Caitre’d will have an unrestricted, irrevocable, world-wide, royalty free right to use, communicate, reproduce, publish, display, distribute and exploit such comments in any manner it chooses.</li>
    </ul>
  
    <h3>Outbound links</h3>
    <p>The website may contain links to third-party websites and resources (“linked sites”). These linked sites are provided solely as a convenience to you and not as an endorsement by Caitre'd. Caitre'd makes no representations or warranties regarding the availability, correctness, accuracy, performance or quality of the linked site or any content, software, service or application found at any linked site. Caitre'd may receive payments and/or commissions from operators of linked sites in relation to goods or services supplied by the operator as a result of you linking to the third party website from the Caitre'd website.</p>
    
    <h3>Inbound links</h3>
    <p>Caitre'd generally encourages and agrees to your linking to the Home page through a plain text link on your website without the need for agreement between yourself and Caitre'd. However, linking to any other page of the website is strictly prohibited, without express written permission from Caitre'd.</p>

    <h3>Governing Law</h3>
    <p>The laws of the State of New South Wales and the Commonwealth of Australia govern this web site.</p>
    <p>This Website may be accessed throughout Australia and overseas. Caitre'd makes no representations or warranties that the content of this web site complies with the laws (including intellectual property laws) of any country outside Australia. If you access this web site from outside Australia, you do so on your own responsibility and are responsible for ensuring compliance with all laws in the place where you are located.</p>

    <h3>Disclaimer of Warranties</h3>
    <p>Caitre'd makes no representations or warranties about the accuracy, completeness, security or timeliness of the content, information or services provided by the website and disclaims all warranties, either express or implied, statutory or otherwise, including but not limited to the implied warranties of merchantability, non-infringement of third parties' rights, and fitness for a particular purpose.</p>
  
    <h3>Limitation of Liability</h3>
    <p>If Caitre'd is found responsible for any damages, Caitre'd is responsible for actual damages only. In no event shall Caitre'd, be liable for any incidental, indirect, exemplary, punitive and/or consequential damages, lost profits, or damages resulting from lost data or business interruption resulting from the use of or inability to use the website.</p>
    <br />
    <br />
  </div>
</div>
