<% content_for :title do %>
  Caitre’D Terms of Service
<% end %>

<% content_for :header do %>
  <header class="nav--fixed nav--dark">
    <%= render "shared/navigation" %>
  </header>
  <%= bordered_header_text "Caitre’D Terms of Service" %>
<% end %>

<div class="row top">
  <div class="content-box">


    <h3>1.Introduction</h3>
    <p>These Terms and Conditions constitute a legally binding contract between the customer ("you") and Caitre’d and apply to the booking, purchasing, fulfilment and delivery of Catering through the Caitre’d Services.</p>
    <p>The Caitre’d service is a portal to facilitate catering services from selected caterers to arrange the conclusion of respective contracts. Caitre'd does not itself offer the catering services presented on the Website. Caitre'd is merely facilitating the services of Caterers. Caitre'd is acting as an agent for its Caterers and concludes contracts for catering services with Customers on behalf of Caterers. The scope of the catering services is negotiated by Caitre'd as an agent for Caterers through the Services which may be rendered through the Website. The Caterers’ services are subject to respective Caterer's terms and conditions. Caitre'd enables Customers to choose catering services from a range of selected Caterers, facilitates the selection and booking process, and offers customer support and personal assistance related to catering booking facilitation. Customers can contact Caitre'd in order to arrange details of the catering services to be provided. For these services, Caitre'd is granted a commission by the Caterer. Further, Caterer has granted Caitre'd authority for receiving payments. Caitre'd collects all payments and invoices on behalf of the Caterer. All due payments will be forwarded to the Caterer by Caitre’d after performance of the catering services.</p>
    <p>Please read the following Terms and Conditions carefully before placing your order as they apply to all services offered to Customers by Caitre’d. The Terms and Conditions contain important information about booking, processing, fulfilment and delivery of Catering. You agree to be bound by the Terms and Conditions by accessing the Caitre’d Services through direct email, live chat, telephone or the Website, regardless of whether you create an account or make a purchase.</p>
    <p>If you breach any of the Terms and Conditions, you are prohibited to continue using the Website. If you do not agree with any part of these Terms and Conditions you must leave this Website immediately. These Terms and Conditions may be updated periodically by Caitre’d at its sole discretion at any time. Revisions will be posted to this page. You agree to be bound by any revisions.</p>

    <h3>2.Definitions</h3>
    <p>2.1.Caitre'd connects caterers with potential customers by offering a website and service that provides (i) a way to order and manage catering services from various local caterers and (ii) process and track orders and payments (Caitre'd’ "Services").</p>
    <p>2.2.Caitre'd presents menus offered by various Caterers, and processes orders on behalf of them. The menus that are ordered via the Services are prepared and delivered by Caterers with whom customer enters into individual contracts.</p>
    <p>2.3.In addition to these Terms, the terms and conditions of the chosen Caterer apply. The respective Caterer's Terms and Conditions are available on the Website and during the order process.</p>
    <p>2.4.“Catering” means those menus and delivery services made available by our Caterers.</p>
    <p>2.5.“Booking” means a booking for Catering.</p>
    <p>2.6.“Customer” means the person, firm, Caitre'd or organisation for whom Caitre’d has agreed to provide the Services in accordance with these conditions.</p>

    <h3>3.Communication by Us</h3>
    <p>3.1.As a condition of creating an account with Caitre’d, you consent to us sending you Administrative and Promotional Communications.</p>
    <p>3.1.1."Administrative Communications" involve details of account activity and purchases you have made via our Services, through direct email, live chat, telephone or the Website.</p>
    <p>3.1.2."Promotional Communications" consist of product information, new offers and information about Caitre’d.You may choose to opt-out of receiving Promotional Communications anytime by simply clicking the unsubscribe button at the bottom of our emails and following the instructions.</p>

    <h3>4.Booking Terms</h3>
    <h4>4.1.Booking Types</h4>
    <p>There are two types of Caitre'd bookings:</p>
    <p>4.1.1. “Website” refers to an order made by you either directly or through a Caitre’d agent solely through the Website which are sent directly to our Caterers.</p>
    <p>4.1.2. “Custom” refers to Customers who require custom menus from the Caitre’d Service and place their enquiries using the forms on the website, direct email, live chat, or telephone.</p>
		<p>4.1.3. "Last Minute" refers to an order that is requested outside the order cutoff time of your chosen caterer.</p>

		<h4>4.2. Last Minute / Same Day Orders:</h4>
		<p>Caitre'd does understand that sometimes unexpected catering requests come up. We will do our best to accommodate you.</p>
		<p>Call us on (02) 8007 5056 to discuss your requirements.</p>
		<p>Please be advised that all last minute catering orders outside the standard cutoff time of your chosen caterer will incur a 30% surcharge. A credit card is required upon booking. There are no cancellations for last minute orders.</p>
	


    <h4>4.3. Custom Booking Requests</h4>
    <p>After placing a booking request for Custom Services, the Customer will receive communication from Caitre'd acknowledging that Customer’s order has been received and evaluated by our team for assessment. Please note that this does not mean that an order has been accepted. All orders are subject to acceptance by respective Caterers.</p>

    <h4>4.4.Custom Booking Conditions</h4>
    <p>We prepare custom menus on request once the enquiry has passed our internal validation procedures for:</p>
    <p>4.3.1.Verifying the validity of each request.</p>
    <p>4.3.2.Confirming with our caterers that they are able to supply the catering a customer has  requested.</p>
    <p>Formal confirmation of your booking occurs once you have provided us with emailed acceptance of our quotation.</p>

    <h4>4.5.Changes to Your Booking</h4>
    <p>You are welcome to make changes to your order provided these changes meet the terms  and conditions of the chosen Caterer. The respective Caterer's terms and conditions should be available on the Website and during the booking process. The Caitre'd will do its best to facilitate changes made with short notice however, charges may be incurred.</p>

    <h4>4.6.Receiving your Delivery</h4>
    <p>Customers must be available to physically receive deliveries at the address designated in the booking process; or have appointed a nominated party to receive the delivery.</p>

		<h4>4.7.Delivery Window</h4>
		<p>Your Caitre'd catering delivery will between half an hour and up to 15 mins before your "eat" time (the time the food is to be served.) This timeframe is to allow for traffic, parking challenges, waiting for goods lifts, and other factors which could affect the delivery time of your catering order. This also allows for any necessary "setup" time for the catering order.</p>
		<p>As an example, if you are ordering lunch with an "eat time" of 12 noon, your catering order should arrive between 11:30-11:45am.</p>
		<p>Please contact a Caitre'd member of staff immediately on 02 8007 5056 if you do not receive your delivery within this 15 min timeframe, or if you have any questions about this policy and how it might affect your delivery.</p>


    <h4>4.8.Booking Cancellation</h4>
    <p>Booking cancellation guidelines are dependent upon method of booking placement, dollar amount and notice given by the Customer.</p>

    <p>4.8.1.For Website bookings less than $500, the Caitre'd will accept cancellation up to 48 hours prior to the delivery date requested for that booking. Bookings greater than $500 require minimum 72 hours notice.</p>
    <p>4.8.2.For Custom bookings a minimum of 5 working days notice are required for cancellations to be accepted. Bookings cancelled after the above times may incur charges based on expenses incurred by the Caitre'd or the Caterer. The Caitre'd will do its best to minimise these charges for you.</p>

    <h4>4.9.Food Allergies</h4>
    <p>Caitre’d Caterers cannot 100% guarantee your catering may not contain traces of the substances to which your guest is allergic. Caitre’d and its Caterers cannot and will not take responsibility for any illness caused through consumption of catering containing traces of these substances or food groups. Severely allergic guests should supply their own food from a reliable source that guarantees no-cross contamination.</p>

    <h3>5.Customer Duties, Obligations and Responsibilities</h3>
    <p>All Customers using Caitre'd service must:</p>
      <p>5.1.Be at least 18 years old to use Caitre'd service. </p>
      <p>5.2.Be able to physically receive orders at the address designated in the order process.</p>
      <p>5.3.Not offer in any manner, sublicense or re-sell Caitre'd service, grant use of or access to the services to a third party, for any reason whatsoever without Caitre'd prior written consent. </p>
      <p>5.4.Provide true, accurate, and current data, including venue and parking / delivery information with the understanding that failure to do so may result in a late order.</p>
      <p>5.5.Book all catering from our caterers through us or risk dismissal from the Caitre’d platform.</p>
    
    <h3>5.Customer's Obligation to Pay</h3>
    <p>5.1.When making a Custom Booking the Customer agrees that they are authorised to register on behalf of the employer located at the employer's place of employment. As such the employer located at their place of employment whether it is a business or charity will be responsible for payment of any Bookings placed with Caitre’d.</p>
    <p>5.2.The Customer agrees to pay to Caitre’d all amounts in the Booking Invoice within 7 days of the date of issue.</p>
    <p>5.3."Late Payments" are payments that are not received within 14 days from the date on the invoice and incur a 10% monthly account keeping and administration fee.</p>
    <p>5.4.Website Bookings require upfront payment by credit card.</p>

    <h3>6.Customer Duties, Obligations and Responsibilities</h3>
    <p>6.1.A credit card number is required to secure your booking irrespective of requested payment method.</p>
    <p>6.2.Caitre’d accepts all major credit cards. Credit card payments will incur a merchant fee of 3%.</p>
    <p>6.3.A deposit may be required on certain orders. Invoices are sent to your email address unless otherwise requested.</p> 
		<p>6.4 If the customer fails to pay their invoice within the specified 14 day timeframe Caitre'd reserves the right to charge the full amount owing plus a 10% late fee to aforementioned credit card to secure payment for services rendered.</p>


  </div>
</div>
