<div class="thanks-page">
  <i class="fa fa-users thanks-page__icon"></i>

  <h1>Welcome to the Caitre'd community!</h1>
  <p>Congratulations! You are now logged in.</p>
  <p><%= link_to "Continue browsing for more delicious food", root_path %> or follow us on our social media:</p>

  <div class="thanks-page__social-links">
    <%= render 'shared/social_links' %>
  </div>
</div>
