<% content_for :title do %>
  Reset your password -
<% end %>

<div class="nav-push">
  <h2>Reset your password</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="<%= flash_class(:error) %>">
        Thank you, your password has been reset. Please&nbsp;
        <a href="<%= customer_login_path %>">Log in</a>
      </div>
    </div>
  </div>
</div>
