<% content_for :title do %>
  Reset your password -
<% end %>
<h2>Reset your password</h2>
<div class="row">
  <div class="col-md-6">
    <div class="<%= flash_class(:error) %>">
      Sorry, that reset token or link is invalid.
    </div>
  </div>
</div>
