<% content_for :title do %>
  Reset your password -
<% end %>

<div class="nav-push">
  <h2>Reset your password</h2>
  <p id="js-thank-you">Thank you, please check your email for instructions on how to reset your password.</p>
</div>
