<div class="about-footer">
  <%= link_to sell_with_us_old_path,  class: "col-md-6 about-footer__make" do %>
    <div class="about-footer__overlay">
      <h1>Are You a Caterer?</h1>
      <p>Learn more about why your catering company should work with Caitre'd.</p>
    </div>
  <% end %>

  <%= link_to partner_search_path("sydney-city"), class: "col-md-6 about-footer__hungry" do %>
    <div class="about-footer__overlay">
      <h1>Looking to Book Catering?</h1>
      <p>Click here to see our menus</p>
    </div>
  <% end %>
</div>
