<div class="about-how-start container">
  <div class="col-md-10 col-md-offset-1">
    <p>Caitre'd is your office catering concierge - at your service to help you book from an exclusive list of curated caterers.</p>
    <p>Get advice on food selection, allow us coordinate your booking, and ensure your delivery is exactly what you want when you want it.</p>
    <p>But that’s not all - sit back, relax, and enjoy the food with the rest of your team while our “Caitredettes” direct, set-up and supervise on-site experience at your event from start to finish. The only surprises delivered to you are those that are delicious.</p>
    <p>Delivery time guarantees, simpler online bookings, consistent, reliable, personalised service which will keep you informed every step of the way, and food that will be the talk of the office. Experience catering the classy way with Caitre'd.</p>

    <h1>Your Caitredettes!</h1>
    <%= image_tag 'about-images/team.jpg' %>
  </div>
</div>
