<h4>Terms and Conditions</h4>
<ul>
  <li>
    <div class="standout">Payment Methods</div>
    We accept payment by credit card, paypal or EFT. Credit card and Paypal payments incur a charge which will be indicated above. All transactions are billed in Australian Dollars.
  </li>
  <li>
    <div class="standout">Invoicing and Late Payment</div>
    If you have requested to pay by EFT or Paypal, we will send you your invoice by email after your order is confirmed. Invoices must be paid within 7 days of order confirmation, or may be subject to late fees.
  </li>
  <li>
    <div class="standout">Confirming your order</div>
    Please ensure the details on this page are correct before confirming your order. Please contact us on 0403 300 676 for any changes.
  </li>
  <li>
    <div class="standout">Changes and cancellations</div>
    After you have confirmed your order, further changes and requests cannot be guaranteed although we will do our best to help. It's easier to increase numbers than decrease.
    You can cancel your order up to 7 days before your event with no charge. Between 3 and 7 days before your event, you will be charged for 50% of your order value. Within 3 days of delivery, the full invoice will be charged.
    Please contact us on 0403 300 676 for changes or cancellations.
  </li>
  <li>
    <div class="standout">Delivery and Parking</div>
    You will be invoiced for parking costs (excluding penalties). Please provide us with as much information as possible.
  </li>
  <li>
    <div class="standout">Punctuality</div>
    Our partners are instructed to be extremely punctual, if they are more than 15 minutes late you are entitled to a $50 refund as compensation.
  </li>
  <li>
    <div class="standout">Dietary Requirements</div>
    If you have requested gluten free or vegetarian options, they are detailed above. Please ensure you have explained your specific needs.
  </li>
  <li>
    <div class="standout">Allergens</div>
    As our partners prepare food in commercial kitchens where allergens are present, we cannot guarantee any food  purchased via the Caitre'd platform is entirely free of allergens. Please
    <a href="mailto:nutrition@youchews.com">email our in-house dietitian</a>
    for more information and advice.
  </li>
  <li>
    <div class="standout">More Information</div>
    Please read our full
    <a href="<%= terms_path %>">Terms and Conditions</a>
    for more information.
  </li>
</ul>
