<% content_for :title do %>
  Confirm your Order -
<% end %>
<h2>Confirm your order</h2>
<p>
  We're sorry, but we can't seem to locate your order.
</p>
<p>
  Please call us 0403 300 676 or
  <a href="mailto:eat@youchews.com">email us</a>
  and we will locate your order details and send you a new link to confirm.
</p>
