<section class="become-a-partner">
  <h2>Do you make great office catering?</h2>
  <p>If you think your food has what it takes, then we want YOU</p>
  <%= link_to "Partner with Us", sell_with_us_path, 
      class: 'shadow-button shadow-button--green shadow-button--large' %>
</section>
