<form url="/subscribers/new" method="get">
  <%= text_field_tag :firstname, nil, class: 'form-control input', placeholder: 'First name' %>
  <%= text_field_tag :name, nil, class: 'form-control input', placeholder: 'Last name' %>
  <%= text_field_tag :email, nil, class: 'form-control input', placeholder: 'Email' %>
  <button class="btn btn-primary btn-horizonal">
    Sign up now
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</form>
