%form{action: "https://youchews.us7.list-manage1.com/subscribe/post?u=52de2e3c092e551381ab7194f&id=c9e337eab9", method: "post", target:"_blank"}
.form-group.spaced
  .col-md-5
    %input.form-control{type: "text", placeholder: "Name", name: "FNAME"}
  .col-md-5
    %input.form-control{type: "email", placeholder: "Email", name: "EMAIL"}
  .col-md-2
    %input.btn.btn-primary.btn-subscribe.js-track{type: "submit", name: "subscribe", value: "Subscribe", data: { name: 'subscribe'}}
