<section class="as-seen-in">
  <h2>In the Media</h2>

  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'as_seen_in/shark_tank.png', alt: "Shark Tank" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'as_seen_in/smh.png', alt: "Sydney Morning Herald" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'as_seen_in/yahoo7.png', alt: "Yahoo!7" %>
        </div></div></div>
      </div>

      <div class="col-xs-6 col-md-3">
        <div class="companies-we-feed__logo"><div class="content"><div class="companies-we-feed__inner">
          <%= image_tag 'as_seen_in/the_age.png', alt: "The Age" %>
        </div></div></div>
      </div>
    </div>
  </div>

</section>
