<section class="caterer-looking-for-biz">
  <div class="caterer-looking-for-biz__media">
  </div>
  <div class="caterer-looking-for-biz__content">
    <h2 class="charlie">Are you a caterer looking for more business?</h2>
    <p>Bring your food to more hungry workers in Sydney.</p>
    <%= link_to "Apply to Join", sell_with_us_path, class: 'shadow-button shadow-button--red' %>
  </div>
</section>
