<div class="chewsletter">
  <div class="container">
    <h3>Sign up to our newsletter for your chance to win FREE BROWNIES at your next office function and be the hero at your workplace.</h3>
    <form action="//youchews.us7.list-manage.com/subscribe/post?u=52de2e3c092e551381ab7194f&amp;id=c9e337eab9" method= "POST" target="_blank">
      <input type="email" value="" name="EMAIL" class='footer__newsletter-signup__email' id="mce-EMAIL" placeholder='weloveyouchews@happycustomer.com'>
      <input class='shadow-button shadow-button--yellow' type='submit' 
             name="Sign me up!" value="Sign me up!" data-name='subscribe' />
    </form>
  </div>
</div>
