<section class="dazzle-the-office">
  <div class="dazzle-the-office__media">
  </div>
  <div class="dazzle-the-office__content">
    <h2 class="charlie">Dazzle the office with delicious, healthy catering.</h2>
    <p>Curated caterers are waiting for your next catering order.</p>
    <%= link_to "Browse Caterers", partner_search_path('sydney-city'), class: 'shadow-button shadow-button--green' %>
  </div>
</section>
