<section class="founders-promise">
  <div class="container">

    <h2>CEO’s Promise</h2>
    <p class="founders-promise__intro">Our CEO, <strong><%= link_to "Elizabeth Kaelin", about_elizabeth_path %></strong>, knows what it's like to order catering.<br />She created Caitre'd to be "at your service", enhancing your catering experience.</p>


    <div class="founders-promise__image">
      <script src="//fast.wistia.com/embed/medias/0i1w84cbdw.jsonp" async></script><script src="//fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_0i1w84cbdw videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
    </div>

    <div class="founders-promise__points">
      <h3>The only surprises we deliver to you are those that are delicious:</h3>
      <ul>
        <li>Catering that will be the talk of the office</li>
        <li>Hand selected caterers and customer service staff</li>
        <li>Delivery time guarantees</li>
        <li>Simpler online bookings</li>
        <li>Setup/cleanup help available</li>
        <li>Be informed every step of the way</li>
      </ul>
    </div>

  </div>
</section>
