<section class="how-it-works">
  <div class="container">
    <h2>How It Works</h2>

    <div class="col-sm-4">
      <h3>1</h3>
      <p>Browse from an exclusive list of curated caterers</p>
    </div>
    <div class="col-sm-4">
      <h3>2</h3>
      <p>Tell us what you'd like then sit back and relax</p>
    </div>
    <div class="col-sm-4">
      <h3>3</h3>
      <p>The result: inspired catering that will be the talk of your office</p>
    </div>

  </div>
</section>
