<section class="plan-your-event">
  <div class="plan-your-event__content">

    <h2 class="charlie">Are you a caterer looking for more business?</h2>
    <p>Bring your food to more hungry workers in Sydney.</p>
    <%= link_to "Apply To Join", sell_with_us_path, class: 'button' %>
  </div>
  <div class="plan-your-event__media">
  </div>
</section>
