<section class="simpler-online-ordering">
  <div class="simpler-online-ordering__media">
  </div>
  <div class="simpler-online-ordering__content">
    <h2 class="charlie">Need an Extra Hand Onsite?</h2>
    <p>Learn more about our "Caitredettes" - at your service to help out at your event.</p>
    <%= link_to "Learn More", caitredette_service_path, class: 'button' %>
  </div>
</section>
