<section class="testimonials">

<div class="testimonials__wrap" id="js--testimonials">

  <div class="testimonials__testimonial">
    <p class="testimonials__quote">I just wanted to say a big thank you for the food yesterday. Beautiful can’t even begin to describe it - it was delicious and beautifully presented. Thank you!</p>
    <p class="testimonials__author">Liz Anderson</p>
    <p class="testimonials__logo"><%= image_tag 'home/logos/facebook.png', alt: "Facebook" %></p>
  </div>

  <div class="testimonials__testimonial">
    <p class="testimonials__quote">All ways great, thank you very much! Food was high quality, delivery was on time and friendly. I liked everything about your service!</p>
    <p class="testimonials__author">Guy Marion</p>
    <p class="testimonials__logo"><%= image_tag 'home/logos/autopilot.png', alt: "Autopilot" %></p>
  </div>

  <div class="testimonials__testimonial">
    <p class="testimonials__quote">Just to let you know the food was delicious, from the delivery and the presentation to the fillings and the breads. Thank you for your attention to detail.</p>
    <p class="testimonials__author">Sally Cleland</p>
    <p class="testimonials__logo"><%= image_tag 'home/logos/clinch_long_letherbarrow_lawyers.png', alt: "Clinch Long Letherbarrow Lawyers" %></p>
  </div>

</section>
