@import 'web_variables';
@import 'mixins';

.button {
  background-color: $caitre-green;
  color: white;
  border-radius: 5px;
  transition: all 0.3s;
  @include font-size(2);
  padding: 1rem 3rem;
  border: none;
  @media (min-width: $screen-md-min){
    @include font-size(2.4);
    padding: 1.5rem 7rem;
  }
  &:hover, &:active {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: darken($caitre-green, 4);
  }
}

.button--small {
  padding: 1rem 4rem;
  font-size: 1.8rem;
}
