@import 'web_variables';
@import 'mixins';


.checkout { 
  margin: 12rem 0 6rem;

  .fieldset-wrap {
    padding: 15px 0 0 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .fieldset-header {
    @include font-size(2.4);
    text-transform: uppercase;
    color: $primary-green;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .sidebar h4 {
    @include font-size(2.4);
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.checkout__process{
  background-color: white;
  padding: 1rem 2.5rem;
}

.checkout__delivery-notifier {
  text-align: center;
}

.checkout__people {
  padding-top: 0.6rem;
  padding-left: 0;
}

#js--main-contact label.normal {
  font-weight: normal;
}

#js--additional-contact {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  span {
    color: $caitre-green;
    font-weight: bold;
  }

  fieldset {
    padding: 2rem;
    background-color: $light-bg;
  }
}

.checkout__next-step {
  background-color: $light-bg;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  margin-top: 2rem;
  margin-bottom: -2.5rem;
  padding-top: 2.5rem;
  text-align: right;
}

.checkout__total {
  @include font-size(1.8);
  display: inline-block;
  margin-right: 2rem;
}

.checkout__progress {
  overflow: hidden;
}

.checkout__progress__details {
  width: 50%;
  float: left;
  text-align: center;
  @include font-size(1.8);
  color: white;
  background-color: #4f4f4f;
  padding-top: 1rem;
  padding-bottom: 1rem;
  a, a:active, a:hover { 
    color: white;
    display:block;
    text-decoration:none;
  }
  &.active {
    background-color: $primary-green;
  }
}


.checkout__summary {
  h4 {
    margin-top: 2.5rem;
  }
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0 2rem 2rem 2rem;
  background-color: $light-bg;
}

.checkout__push-right {
  margin-left: 2.5rem;
}

#payment__summary {
  padding-top: 2.5rem;
}

.your-order {
  padding-left: 1px;
}
