@import 'web_variables';
@import 'mixins';

.new-quote {
  margin: 4rem 0 0 0;
  .centered p {
    text-align: center;
    @include font-size(2.4);
  }

  img {
    margin: 2rem 0 4rem 0;
    max-width: 100%;
  }

}


.new-quote__promise {
  margin-top: 4rem;
  padding: 3rem 0 2rem 0;
  background-color: white;
  text-align: center;
  h2 {
    color: $caitre-grey;
    @include heading-border(#68707b);
    margin-bottom: 4rem;
  }
  p { 
    font-weight: bold;
    @include font-size(2.4);
    margin-bottom: 3rem;
  }
}
