@import "web_variables";
@import "admin_variables";
@import "mixins";

.sort-food-partners {
  text-align: right;
  text-transform: uppercase;
  margin-bottom: 10px;

  select, button {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    display: none;
  }
}
