<% content_for :header do %>
  <header class="nav--fixed nav--dark">
    <%= render "shared/navigation" %>
  </header>
  <div class="header--new-quote header--content header--banner">
    <div class="header-content-wrap">
      <div class="header-content-box">
        <h1>Thanks!</h1>
        <p>Thanks for 'chewsing' Caitre'd! We'll be in touch shortly.<br/></p>
      </div>
    </div>
  </div>
<% end %>

<!-- Google Code for Enquiry Forms Completed Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 961951479;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "XJ52CJXOzW0Q9-3YygM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/961951479/?label=XJ52CJXOzW0Q9-3YygM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
