<div class="row">
  <div class="col-sm-6"><%= f.input :event_date %></div>
  <div class="col-sm-4"><%= f.input :event_time %></div>
  <div class="col-sm-2"><%= f.input :number_of_attendees, label: "Attendees" %></div>
</div>

<%= f.input :additional_messages %>
