<section class="caitredette__how">
  <div class="container">
    <h2>How it works</h2>
    <div class="row">
      <div class="col-sm-4">
        <h3>1</h3>
        <h4>Arrange a consultation.</h4>
        <p>Speak to a Caitre’d booking coordinator and personalise your event brief.</p>
      </div>
      <div class="col-sm-4">
        <h3>2</h3>
        <h4>Book for the time you need.</h4>
        <p>No need to pay a four-hour hire charge for waitstaff.</h4>
      </div>
      <div class="col-sm-4">
        <h3>3</h3>
        <h4>Trained catering supervisors. At your service.</h4>
        <p>Hand the catering off to us, we’ll do the rest.</p>
      </div>
    </div>
  </div>
</section>
