<section class="caitredette__liz">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="caitredette__liz-inner">

          <div class="row">
            <div class="col-sm-4">
              <%= image_tag 'liz.jpg', alt: "Elizabeth" %>
            </div>
            <div class="col-sm-8">
              <div class="caitredette__liz__message">
                <h2>Message From Your <br/> Chief Caitredette</h2>
                <p>I created the Caitredette program because I always wanted a bit of extra help when planning events. Not a waitress, just an extra pair of hands I could count on for an hour or so. Each Caitredette is specifically trained to add a touch of class to your Caitre’d catering.</p>
                <p><strong>Tastefully yours,<br/>
                Elizabeth Kaelin</strong></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
