<section class="caitredette__points">
  <h2>Hassle free event supervision from start to finish.</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>Sit back and relax while someone else looks after the catering.</p>
      </div>
      <div class="col-sm-4">
        <p>Mingle with your team and boss while a Caitredette, set up and supervise the delivery.</p>
      </div>
      <div class="col-sm-4">
        <p>Look after your guests while we look after the food.</p>
      </div>
    </div>
  </div>
</section>
