<section class="caitredette__rates">
  <div class="container">
    <h2>Caitredette Rates</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="caitredette__rate">
          <p>For up to 30 minutes of service.
          <strong>$30</strong></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="caitredette__rate">
          <p>For up to 60 minutes of service.
          <strong>$60</strong></p>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="caitredette__rate caitredette__rate--large">
          <p>Book by the hour.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="caitredette__rate-info">Want to know more about how an extra pair of hands onsite can make a Caitredifference? <br />Book your Caitredette Consultation below.</p>
      </div>
    </div>
  </div>
</section>
