<section class="caitredette__what">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-push-2">
        <h1>What is a Caitredette?</h1>
        <div class="row">
          <div class="col-md-6">
            <%= image_tag "caitredette_what.jpg", alt: 'A helping hand at your catering event' %>
          </div>
          <div class="col-md-6">
            <p>A Caitredette is a Caitre’d respresentative specifically trained to receive, setup and supervise during Caitre’d deliveries and events.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
