.form-group.js-field-group.has-feedback
  = form.label field_name, field_label, class: 'col-xs-4 control-label'
  .col-xs-8
    = form.password_field field_name, class: 'form-control input-sm', id: field_id, validate: true
    %span.glyphicon.form-control-feedback
    %span.js-errors.error-message
