%h1 Credits

%p
  %i.icon-icon_34525.icon-large
  Test Tube designed by
  %a{ href: "http://www.thenounproject.com/SuperAtic"}
    SuperAtic LABS
  from the
  %a{ href: "http://www.thenounproject.com"} Noun Project
