<h1 class="main-title">Let us reset your password.</h1>

<p>Hello <%= @customer.first_name %>,</p>
<p>We have received a request to reset your Caitre’d account password. If you did not make this request, please ignore this e-mail. Otherwise, click the button below to reset your password.</p>
<p><%= link_to "RESET MY PASSWORD", reset_customer_password_url(token: @customer.password_reset_token), class: 'button' %></p>

<% content_for :lower_email do %>
  <tr>
    <td class="iris__image">
      <%= image_tag 'mailers/caitred.png', alt: "CaitreD" %>
    </td>
    <td class="iris__text">
      <h3>What about your next event?</h3>
      <p>If there is anyway we can provide you with further assistance, you can either e-mail us at <%= link_to "atyourservice@caitre-d.com", "mailto:atyourservice@caitre-d.com", class: 'green' %> or call us on <span class="green">(02) 8007 5056</span> from Mon-Fri during normal business hours.</p>
    </td>
  </tr>
<% end %>
