$brand-primary: #3D7599;
$brand-success: #158b7a;
$brand-info:    #5bc0de;
$brand-warning: #dba94e;
$brand-danger:  #c25941;
$font-family-sans-serif: 'Nunito', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: 'PT Serif', georgia, serif;
$font-size-small: 10px;
$brand-info-bg: #d9edf7;
