.tt-dropdown-menu {
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  
  border-radius: 0 0 3px 3px;

  .tt-suggestions p {
    padding: 5px;
    font-size: 12px;
  }

  .tt-cursor p {
    background: #cccccc;
  }
}

.twitter-typeahead {
  width: 100%;  
}
