/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, partner/assets/stylesheets,
 * or partner/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datepicker
 *= require jquery-ui
 *= require admin/_cake
 *= require admin/enquiries
 *= require admin/menu_packages
 *= require web/_buttons
 *= require web/_fa-menu
 *= require trix
 *= require web/_event-type-menu
 *= require jquery-ui/datepicker
 *= require web/_autocomplete
 */

.contest h3 {
	margin-bottom: 0px !important;
}

/* Trix overrides */
trix-editor {
  background-color: white;
  margin-bottom: 2rem !important;
}

#new-postcode-field {
  display: none;
}
